
header {
    padding-block: 32px;
}

header .container {
    display: flex;
    justify-content: space-between;
        /* define o espaço entre os id 'profile' e 'info' */
}

#profile {
    display: flex;
        /* coloca uma informação ao lado da outra */
    gap: 32px;
        /* define o espaço entre uma linha e outra */
    padding-block: 32px;
}

#profile > div {
        /* pega a primeira dix após "profile" */
    max-width: 384px;
        /* define limite maximo da div */
}

#profile h1 {
    font: var(--font-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

#profile img::after {
    width: 176px;
    height: 176px;
    object-fit: cover;
}

#profile p {
    font: var(--font-md);
    line-height: 170%;
    align-items: center;
}

#info {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 280px;
    padding-block: 68px;
}

#info li {
    display: flex;
    align-items: center ;
    gap: 16px;
}